@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$fredoka: "Fredoka", sans-serif;
$inter: "Inter", sans-serif;
$width: 1440px;
$easeOut: 0.3s ease-out;

$darkBlue: #141F35;
$white: #fff;
$offWhite: #FBF6E9;
$orange: #D97B3F;